# Obrazy pamięci podręcznej i pliki środowiska dla skryptów Pythona (np. Playwright)
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Zależności i pakiety Node.js (na przyszłość)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Konfiguracje IDE i edytorów
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Pliki systemowe Mac i Windows
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Inne logi i pliki tymczasowe
*.log
/tmp/
